<h1>title</h1>
             
<a routerLink="/welcome" routerLinkActive="active"> Welcome Page</a>
<a routerLink="/other" routerLinkActive="active"> Other Page </a>

<hr>

<router-outlet></router-outlet>
