<main id="workspace"> 
<section class="row">

	<p class="label">ROW</p>

	<!-- <clef></clef> -->
	<!-- <timesig></timesig> -->
	<!-- <keysig key="F#"></keysig> -->

	<measure *ngFor="let measure of measures" 
        [numberThing]="measure">
    </measure>

</section> 
</main>

<div class="test-panel">
<!-- <button class="test-button" ng-click="addMeasure()">measure</button> -->
<!-- <button class="test-button" ng-click="addNote()">note</button> -->
</div>
