<p class="label">MEASURE {{ numberThing }}</p>

<svg id="measure{{ numberThing }}"class="measure" xmlns="http://www.w3.org/2000/svg">

<!-- barlines -->
<path [attr.d]="'M0 50 200 50'" stroke="black" stroke-width="1" />
<path [attr.d]="'M0 60 200 60'" stroke="black" stroke-width="1" />
<path [attr.d]="'M0 70 200 70'" stroke="black" stroke-width="1" />
<path [attr.d]="'M0 80 200 80'" stroke="black" stroke-width="1" />
<path [attr.d]="'M0 90 200 90'" stroke="black" stroke-width="1" />

</svg>

