@import "staff-positioning";
// SHARPS AND FLATS

.keysig-container {
    position: relative;
    height: 100%;
    display: inline-flex;
    width: 7px;
}

.sharp {
    position: relative;
    &:before {
	position: absolute;
	content: "\e262";
	font-size: 20pt;
	height: 25px;
    }
}

.flat {
    &:before { 
	content: "\e260";
    }
}

.natural {
    &:before { 
	content: "\e261";
    }
}

$offsetForSharpSymbol: 12px;

// these are increments away from the middle line 
// (for treble clef, that would be B3)
// middle line is 0
$sharpsPosList: (
    ( line,  -2 ),
    ( space, -1 ),
    ( space, -3 ),
    ( line,  -1 ),
    ( space,  1 )
);

// generates styles for sharps in key sig
// sharp-1 is F#, goes through A#
@for $i from 1 to (length($sharpsPosList) + 1) {

    $num: nth(nth($sharpsPosList, $i), 2);

    .sharp-#{$i} { 
	@extend .sharp; 
	@if (nth(nth($sharpsPosList, $i), 1) == line){
	    &:before {
		top: line-pos($num, $offsetForSharpSymbol);
	    } 
	} 
	@else {
	    &:before {
		top: space-pos($num, $offsetForSharpSymbol);
	    } 
	}
    }
}
