@import "vars";

.test-panel {
    position: fixed;
    top: 300px;
    left: 400px; 
}
.test-button {
	display: inline-block;
}

#workspace {
    position: relative;
    height: 200px;
    width: 800px;
    top: 100px;
    margin: auto;
    font-size: 40px;
}

.row {
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @extend %border; 

    // all teh flex
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;

}

#songJSON {
    position: relative;
    top: 100px;
}

measure {
    height: $measureHeight;
    width: 200px;
    margin: 15px 0 15px 0;
    // height: 32px;
    position: relative;
    @extend %border;

    // all teh flex
    flex: none;
    @extend %row-block; 

    svg {
	position: absolute;
	height: 100%;
	width: 100%;
    }
}

barlines {
    height: 42px;
    width: 105px;
    top: 49px;
    position: absolute;
    overflow: hidden;

    svg {
	position: relative;
	height: 42px;
	width: 120px;
    }
}

clef, keysig, timesig {
    @extend %row-block; 
    width: 30px;
    height: 100px;
    @extend %border;
}

keysig {
    height: $measureHeight;
}


clef > figure { 
    &:before {
	content: "\e050"; 
	position: absolute;
	top: 60px; 
    }
}

timesig {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    figure {
	font-size: 36px; 
	&:before {
	    height: 20px;
	    line-height: 20px;
	    width: 20px;
	    display: block; 
	}
    }

    .timesig-top:before {
	content: "\E084";
    }

    .timesig-bottom:before {
	content: "\E084"; 
    }

}

keysig {
    width: 40px;

    figure { 
	position: absolute;
    }
}

.barlines {
    position: absolute;
    top: 16px;

    height: 32px;
    z-index: -5;
    letter-spacing: -6px; 
    color: #444;
} 

.note.selected {
    fill: blue;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10pt;
    font-family: Inconsolata;
}

