
%row-block {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}

%border {
    border: 1px dotted black;
}

%group {
    &:after {
	content: "";
	display: block;
	clear: both;
    }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
