// styling for rest figure


.rest {
	&:before {

	} 
}

.whole-rest {
    &:before {
        content: "E4E3";
    }
}

.half-rest {
    &:before {
        content: "E4E4";
    }
}

.quarter-rest {
    &:before {
        content: "E4E5";
    }
}

.eighth-rest {
    &:before {
        content: "E4E6";
    }
}

.sixteenth-rest {
    &:before {
        content: "E4E7";
    }
}
