@import "vars";

  // // // // // // // // //
 // Vertical positioning //
// // // // // // // // //

// returns distance to the center point of the $nth space from the top/bottom
// 0th space is the closest position to the top/bottom where a full note can fit
@function space-pos($n, $offset: 0){ 
    @if ($n == 1){
	@return ($measureHeight / 2) + $halfStepHeight - $offset;
    }
    @if ($n == -1){
	@return ($measureHeight / 2) - $halfStepHeight - $offset;
    }
    @if ($n > 1){
	@return ($measureHeight / 2) + (($n - 1) * $wholeStepHeight) + $halfStepHeight - $offset;
    }
    @if ($n < 1) {
	@return ($measureHeight / 2) + (($n + 1) * $wholeStepHeight) - $halfStepHeight - $offset;
    }
}

// returns distance to the $nth line from the top/bottom
// 0th line is the first line from the top/bottom after the edge
@function line-pos($n, $offset: 0){ 
    @return ($measureHeight / 2) + ($n * $wholeStepHeight) - $offset;
}

@for $i from 1 through 6 {
    .space-#{$i} {
	top: line-pos($i);
    }

    .line-#{$i} {
	top: space-pos($i);
    }
}

// shitty hack for horizontal positioning until actually implemented
@mixin beat-pos($n){ 
    left: (30 * $n) + 30 + px;
}

$max-beats: 20;

@for $i from 1 through $max-beats {
    .beat-#{$i} {
	@include beat-pos($i)
    }
}

  // // // // // // // // // /
 // Horizontal positioning //
// // // // // // // // // /

$q: 50px;
$spacingModifier: .65;


