
// Constants, matched with the Constants service in the Javascript

// fundamental units
$halfStepHeight: 5px;
$wholeStepHeight: 10px;

// there are 14 spaces and 15 lines

// how many notes fit vertically in a measure (two staves)?
$verticalNoteCapacity: 28;

$minMeasureWidth: 150px; // e.g. if it's just a 4/4 measure with one whole note
$measureHeight: $halfStepHeight * $verticalNoteCapacity;
$firstSpacePosY: $halfStepHeight * 9;

